body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(62, 62, 62);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.ListaTarefas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botoes {
  display: flex;
  gap: 4px;
}

.Tarefa {
  color: rgb(186, 186, 186);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 8px;
  gap: 4%;
  background-color: rgb(70, 126, 216);
  border: solid rgb(112, 109, 109) 3px;
  border-radius: 4px;
  width: 30%;
  -webkit-box-shadow: 14px 11px 18px -3px rgba(0, 0, 0, 0.61);
  box-shadow: 14px 11px 18px -3px rgba(0, 0, 0, 0.61);
}

.Tarefa h3:hover {
  cursor: pointer;
}
.Tarefa h3{
 user-select: none;
}

.Tarefa:hover {
  background-color: rgb(47, 85, 146);
  transform: scale(1.05);
  transition: transform 0.2s;
}

.check {
  text-decoration: line-through;
}

.BotaoTarefa {
  border: none;
  background-color: rgb(0, 61, 158);
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.BotaoTarefa:hover {
  border: solid rgb(112, 109, 109) 3px;
  cursor: pointer;
  transform: scale(1.06);
  transition: transform 0.2s;
}

.conteudoNovaTarefa {
  justify-content: right;
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgb(70, 126, 216);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid rgb(112, 109, 109);
  width: 40%;
  border-radius: 6px;
}

.conteudoNovaTarefa input::placeholder {
  color: rgb(159, 161, 166);
}

.conteudoNovaTarefa input {
  border: none;
  border-radius: 3px;
  padding: 3px;
  background-color: rgb(112, 109, 109);
  color: rgb(186, 186, 186);
}

.conteudoNovaTarefa button {
  border: solid 3px transparent;
  background-color: rgb(0, 61, 158);
  color: rgb(186, 186, 186);
  font-weight: bold;
  padding: 6px;
  border-radius: 3px;
  width: 40%;
  align-self: center;
  margin-top: 2%;
  margin-bottom: -2%;
}

.conteudoNovaTarefa button:hover {
  border: solid rgb(112, 109, 109) 3px;
  cursor: pointer;
}

.close {
  color: rgb(112, 109, 109);
  display: inline-block;
  align-self: flex-end;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 3%;
}

.Btitulo {
  height: 5%;
  width: 5%;
  align-self: center;
  margin-top: 1%;

}

.Tarefascriadas {
  display: flex;
  flex-direction: column;
}